
/* Code for Main page */

.Main{
    text-align: center;
    background-color: aquamarine;
    background-image: url("../cooking.gif");
}

.main-heading{
    background-color: azure;
}

.main-list{
    list-style-type: lower-greek;
    color: white;
    font-size: 32px;
    font-weight: bold;
    background-color: aquamarine;
}

.Main a {
    color: white;
}

/* Code for Recipe Page */

.image{
    width: 500px;
    height: width;
}

.Subhead {
    background-color: aqua;
}

.Description{
    background-color: antiquewhite;
}

.ingredient-list{
    list-style-type: square;
    background-color: azure;
}

.steps-list{
    background-color: azure;
}

.home-link{
    color: greenyellow;
}

